# Visual Studio files
.vs/
.vscode/

# Build results (C#)
bin/
obj/
out/

# .env files
.env
.env.local
.env.*.local

#self-signed certificates (JKS/p12)
*.jks
*.p12
sep3key/
/self_signed_cert

# self-signed certificates (JKS/p12)
*.jks
*.p12
sep3key/
/self_signed_cert

# IDE from IntelilJ IDE files
/.idea
/java_projects/.idea
/ResPawnMarket.iml