@page "/customer-login"
@rendermode InteractiveServer
@using BlazorApp.Services.Interface
@using Microsoft.AspNetCore.Components.Authorization
@using ApiContracts.Dtos
@using System.Security.Claims
@inject ICustomerAuthService customerAuthService

@code 
{

    private string _email;
    private string _password;
    private string _loginMessage;

    private bool IsValidEmail(string email)
    {
        if (string.IsNullOrWhiteSpace(email))
            return false;
        return System.Text.RegularExpressions.Regex.IsMatch(
            email,
            @"^[^@\s]+@[^@\s]+\.[^@\s]+$",
            System.Text.RegularExpressions.RegexOptions.IgnoreCase
        );
    }

    private async Task LoginAsync()
    {
        _loginMessage = string.Empty;
        if (!IsValidEmail(_email))
        {
            _loginMessage = "Please enter a valid email address.";
            return;
        }
        try
        {
            CustomerLoginDto loginDto = new CustomerLoginDto
            {
                Email = _email,
                Password = _password
            };
            await customerAuthService.LoginAsync(loginDto);
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Login failed: {ex.Message}");
            _loginMessage = ex.Message;
        }
    }

    private async Task LogoutAsync()
    {
        try
        {
            await customerAuthService.LogoutAsync();
			_email = string.Empty;
			_password = string.Empty;
            _loginMessage = "You have been logged out";
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Logout failed: {ex.Message}");
            _loginMessage = ex.Message;
        }
	}



}

<h3>Login</h3>

<AuthorizeView>
    <NotAuthorized>
        <h3>Please login</h3>
		<label>Email:</label>
		<input type="text" @bind="_email" />
        @if (!IsValidEmail(_email))
        {
            <label style="color: red">
				Invaild email format.
            </label>
        }
        <label>Password:</label>
		<input type="password" @bind="_password" />
		@if (!string.IsNullOrEmpty(_loginMessage))
		{
			<label style="color: red">
				@_loginMessage
			</label>
		}
        <button @onclick="() => LoginAsync()">Login</button>
    </NotAuthorized>
    <Authorized>
        <h3>
            Hello,
            @context.User.FindFirst(ClaimTypes.GivenName)?.Value
            @context.User.FindFirst(ClaimTypes.Surname)?.Value
			<button @onclick="() => LogoutAsync()">Logout</button>
        </h3>
    </Authorized>
</AuthorizeView>