@page "/reseller/product"
@using ApiContracts.Dtos
@using BlazorApp.Services.Interface
@rendermode InteractiveServer
@inject IGetProductService GetProductService
@inject NavigationManager NavigationManager

@code 
{
	private IQueryable<ProductWithFirstImageDto>? _products;
	
	protected override async Task OnInitializedAsync()
	{
		_products = await GetProductService.GetAllAsync();
	}

	private async void switchToAvailableProducts()
	{
		_products = await GetProductService.GetAllAvailableAsync();
	}

	private async void switchToReviewingProduct()
	{
		_products = await GetProductService.GetAllReviewingAsync();
	}

	private async void switchToPendingProduct()
	{
		_products = await GetProductService.GetAllPendingAsync();
	}

}

<h3>ResellerViewProduct</h3>