/* ROOT */
.layout-root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* NAVBAR */
.top-navbar {
    width: 100%;
    height: 75px;
    padding: 0 30px;

    background: linear-gradient(90deg, #1e1b4b, #312e81, #4f46e5);
    color: white;

    display: flex;
    align-items: center;
    justify-content: space-between;

    box-shadow: 0 4px 12px rgba(0,0,0,0.25);
}

.brand-title {
    font-size: 24px;
    font-weight: 800;
}

.nav-center {
    display: flex;
    gap: 25px;
    align-items: center;
}

.nav-link {
    padding: 8px 12px;
    border-radius: 6px;
    color: #d7d7d7;
    text-decoration: none;
    transition: .2s;
}

.nav-link:hover {
    color: white;
    background: rgba(255,255,255,0.18);
}

.active {
    background: rgba(255,255,255,0.30);
    color: white !important;
}

/* RIGHT */
.nav-right {
    display: flex;
    gap: 15px;
    align-items: center;
}

.logout-btn {
    background: #ef4444;
    color: white;
    padding: 8px 14px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.logout-btn:hover {
    background: #dc2626;
}

/* HAMBURGER */
.hamburger {
    display: none;
    font-size: 26px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

/* MOBILE MENU */
.mobile-menu {
    display: none;
}

/* MOBILE RESPONSIVENESS */
@media (max-width: 900px) {

    .desktop-menu {
        display: none;
    }

    .hamburger {
        display: block;
    }

    .mobile-menu {
        display: flex;
        flex-direction: column;
        background: #1e1b4b;
        padding: 20px;
        gap: 15px;
    }

    .mobile-link {
        color: #d7d7d7;
        text-decoration: none;
        padding: 10px 14px;
        background: rgba(255,255,255,0.1);
        border-radius: 6px;
    }

    .mobile-logout {
        background: #ef4444;
        padding: 10px;
        color: white;
        border: none;
        border-radius: 6px;
        cursor: pointer;
    }
}

/* CONTENT */
.content-area {
    flex: 1;
    padding: 40px;
    min-height: 100vh;
}
@media (max-width: 600px) {
    .content-area {
        padding: 20px;
    }
}